name: Debug APK Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: List files before unzip
        run: ls -R

      - name: Unzip source
        run: unzip *.zip

      - name: List files after unzip
        run: ls -R
